/* 
    Document   : style
    Created on : 05/04/2013, 07:29:35
    Author     : Jun
    Description:
        Purpose of the stylesheet follows.
*/
body { 
    display: block;
    background-color: #e3eff1;
    margin: 0 auto;
}

#main {
    width: 1050px;
    min-height: 620px;    
    margin: 0 auto;
}

header 
{
    display: none;
    margin: 0 auto;
    width: 1000px;
    height: 60px;
    color: #424444;
}

#first {
    float: left;
}

#first img {
    float: left;
}

#center {
    position: relative;
    clear: right;
    top: 10px;
    padding: 2px;
    
    
}

#center label {
    display: block;
    padding: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#center label:first-child {
    font-size: 12px;
}

#center label:last-child {
    font-size: 14px;
}

.wraptmo {
    position: relative;
    float: right;
    font-weight: bold;
    background: red;
    color: #fff;
    min-width: 100px;
    top: -10px;
    opacity: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(PIE.htc);
}

.wraptmo span {
    position: relative;
    left: 45%;
    font-weight: bold;
    font-size: 16px;
}

.last {
    position: relative;
    float: right;
    font-weight: bold;
    background: red;
    color: #fff;
    min-width: 100px;
    top: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(PIE.htc);
}

.last span {
    display: none;
}

#sub-last {
    position: relative;
    border: 2px solid #424444;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*background: #009319;*/
    color: #fff;
    behavior: url(PIE.htc);
}

.init-status {
    background-color: #c8c9c9; /*End*/
}

.idle {
    background-color: #025bf7; /*Idle*/
}

.talking {
    background-color: #009319; /*Talking*/
}

.wrap {
    background-color: #F6B31A; /*Wrap*/
}

.pause {
    background-color: #9F040F; /*Pause*/
}

.consult {
    background-color: #725976; /*Consult*/
}

.private-cb {
    background-color: #AE7F4A; /*PCB*/
}

.manual {
    background-color: #99D9AC; /*Manual*/
}

.ending {
    background-color: #424444; /*End*/
}
.end {
    background-color: #424444; /*End*/
}
.conference {
    background-color: #f312cd; /*End*/
}
.pausing {
    background-color: #9F040F; /*Pausing*/
}


#sub-last label {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

#sub-last label:first-child {
    font-size: 12px;
}

#sub-last p {
    border-bottom: 3px inset #646767;
    padding: 0;
    margin: 0;
}

#wellcome {
}

#user-name {
    font-weight: bold;
}

nav
{
    float: left;
    display: none;
    margin: 0 auto;
    background-color: cadetblue;
}

nav ul {
    margin: 5px 0 0 0;
    padding: 5px;
}

nav ul li {
    display: block;
    list-style: none;
}

nav input {
    border: none;
    padding: 5px 3px;
    margin: 0;
    font-size:12px;
    font-weight:bold;
    text-align: left;
    color:#FB9900;
    width:100%;
    background: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(PIE.htc);
}

nav input:disabled
{
    color: #D6D6D6;
}

nav input:disabled:hover
{
    color: #D6D6D6;
}

nav input:disabled:active
{
    opacity: 1.0;
}

nav input:active
{
    opacity: 0.8;
}

nav input:hover
{
    color:#FB9900;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #97CAFC 0%, #048ac9 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #97CAFC 0%, #048ac9 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #97CAFC 0%, #048ac9 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #97CAFC), color-stop(1, #048ac9));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #97CAFC 0%, #048ac9 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #97CAFC 0%, #048ac9 100%);
    /* PIE */
    -pie-background: linear-gradient(#97CAFC, #048ac9);
    behavior: url(PIE.htc);
}

#login-screen  
{
    margin: 150px auto;
    width: 300px;
    height: 300px;
    border: 2px solid #FB9900;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#login-screen img {
    margin-bottom: 15px;
}

#login-screen #sub-main {
    position: relative;
    top: 15%;
    left: 15%;
}

#login-screen input {
    width: 200px;
    border: none;
}

#login-screen input[type="submit"] {
    display: block;
    position: relative;
    top: 15px;
    left: 30px;
    width: 150px;
    color: white;
    height: 30px;
    font-weight: bold;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #97CAFC 0%, #027CBB 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #97CAFC 0%, #027CBB 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #97CAFC 0%, #027CBB 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #97CAFC), color-stop(1, #027CBB));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #97CAFC 0%, #027CBB 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(bottom, #97CAFC 0%, #027CBB 100%);
}

#login-screen label {
    display: block;
    padding: 5px 1px;
    font-size: 14px;
    font-weight: bold;
}

#page-content {
    display: none;
    margin: 5px auto;
    width: 1000px;
    height: 790px;
    min-height: 500px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(PIE.htc);
    margin-left: 100px;
}

.content {
    position: relative;
    top: 10px;
    left: 10px;
}

#waiting-text {
    margin: 0;
}

.content h3 
{
    padding: 0;
    margin: 0;
}

#screen-pop {
    display: none;
}

#call-data {
    margin: 7px auto;
    width: 1000px;
    height: 200px;
    background: #fff;
    top: 100px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    behavior: url(PIE.htc);
}


#call-data label {
    font-weight: bold;
    font-size: 12px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #424444;
    display: block;
}

#call-data input[type="text"] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    behavior: url(PIE.htc);
}

#customer-data {
    margin: 7px auto;
    width: 1000px;
    min-height: 290px;
    background: #fff;
    top: 100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    behavior: url(PIE.htc);
}

#customer-data section {
    display: inline-block;
}

#customer-data label {
    font-weight: bold;
    font-size: 12px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #424444;
    display: block;
}

#customer-data input[type="text"] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    behavior: url(PIE.htc);
}

footer 
{
    display: none;
    margin: 0px auto;
    width: 1000px;
    height: 25px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #97CAFC 0%, #027CBB 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #97CAFC 0%, #027CBB 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #97CAFC 0%, #027CBB 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #97CAFC), color-stop(1, #027CBB));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #97CAFC 0%, #027CBB 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #97CAFC 0%, #027CBB 100%);
    /* PIE */
    -pie-background: linear-gradient(#97CAFC, #027CBB);
    behavior: url(PIE.htc);
}

footer p, span {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
}

.idle{
    color: #1C559A; /*Idle*/
    color: #009319; /*Talking*/
    color: #99D9AC; /*Manual*/
    color: #F6B31A; /*Wrap*/
    color: #725976; /*Consult*/
    color: #AE7F4A; /*PCB*/
    color: #9F040F; /*Pause*/
    color: #424444; /*End*/

}

#menuEsquerdo {
    width: 150px;
}